<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Galleta</title>
</head>
<body>
<div class="container title">
    <p class="logo"><a href="/home"><img src="/static/img/galleta.png"></a></p>
    <span class="text1">galleta</span>
    <span class="text2">Научись готовить или научи других</span>
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
</div>
</body>
</html>